CONFIG_MODULE_FORCE_LOAD=y
CONFIG_OMAP_TEMP_SENSOR=y
# CONFIG_MACH_OMAP_ACCLAIM is not set
CONFIG_MACH_OMAP_OVATION=y
#CONFIG_OMAP4_DPLL_CASCADING=y
#CONFIG_OMAP4_ONLY_OMAP4430_DPLL_CASCADING=y
CONFIG_CMDLINE="console=ttyO0,115200n8 androidboot.console=ttyO0 androidboot.selinux=permissive"
CONFIG_BT_HCIUART=m
CONFIG_BT_WILINK=y
CONFIG_RFKILL_INPUT=y
CONFIG_TI_ST=y
CONFIG_ST_HCI=y
CONFIG_TOUCHSCREEN_FT5X06=y
CONFIG_INPUT_TWL6030_PWRBUTTON=y
CONFIG_INPUT_TWL6040_HSKEYS=y
CONFIG_GPIO_SYSFS=y
CONFIG_BATTERY_BQ27x00=y
CONFIG_BATTERY_BQ27X00_I2C=y
CONFIG_MFD_CORE=y
CONFIG_TWL6040_CODEC=y
CONFIG_TWL6030_GPADC=y
CONFIG_HDMI_TI_4XXX_IP=y
CONFIG_FB_OMAP_BOOTLOADER_INIT=y
CONFIG_OMAP4_DSS_HDMI=y
CONFIG_PANEL_TC358765=y
CONFIG_PANEL_AUO=y
CONFIG_PANEL_NOVATEK=y
CONFIG_OMAP4_HDCP=y
CONFIG_BACKLIGHT_LP855X=y
CONFIG_SND_OMAP_SOC_SDP4430=y
CONFIG_SND_OMAP_SOC_OMAP4_HDMI=y
CONFIG_SND_OMAP4_ABE_USE_ALT_FW=y
CONFIG_SND_SOC_DMIC=y
CONFIG_SND_SOC_TWL6040=y
CONFIG_SND_SOC_OMAP_HDMI_CODEC=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_LEDS_PWM=y
CONFIG_LEDS_OMAP4430_SDP_DISPLAY=y
CONFIG_LEDS_OMAP4430_SDP_KEYPAD=y
CONFIG_OMAP4_DIE_TEMP_SENSOR=y
CONFIG_OMAP4_PCB_SENSOR=y
CONFIG_OMAP4_DUTY_CYCLE=y
# CONFIG_OMAP4_DUTY_CYCLE_GOVERNOR is not set

